<!-- <pre>{{ trips | json }}</pre> -->
<style>
  .card {
    display: inline-block; /* Display cards in a row */
    margin-right: 10px; /* Add space between each card */
    width: calc(33.33% - 10px); /* Set width for 3 cards in a row */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
</style>

<div class="row">
  <div class="card-deck">
    <div *ngFor="let trip of trips" class="col-12 col-md-4 mt-2 card"> <!-- Adjust col-lg-4 to col-md-4 for 3 cards in a row -->
      <app-trip-card [trip]="trip"></app-trip-card>
    </div>
  </div>
</div>

