.center-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc; /* Add border around the form */
  border-radius: 5px; /* Add rounded corners */
}

.center-form h2 {
  text-align: center;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #f90;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.btn-info {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.btn-info:hover {
  background-color: #0056b3;
}
